{{> header}}

<!-- Contenu spécifique de la page -->
<ul>
    {{#each characters}}
        <li>
            <h2>{{name}}</h2>
            <p>ID: {{id}}</p>
            <img src="{{imageUrl}}" alt="{{name}} Image">
        </li>
    {{/each}}
</ul>

{{> footer}}


